<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="site-footer">
  <div class="container footer-grid">
    <div>
      <h3>Lyhour Coffee & Cake</h3>
      <p class="mt-2">Freshly roasted coffee and handmade pastries in Phnom Penh.</p>
    </div>
    <div>
      <h4>Visit</h4>
      <p class="mt-2">#390 Street Coffee<br>Phnom Penh, Cambodia<br>7:00 AM – 9:00 PM</p>
    </div>
    <div>
      <h4>Links</h4>
      <p class="mt-2">
        <a href="/home">Menu</a><br>
        <a href="/signin">Sign in</a><br>
        <a href="/signup">Create account</a>
      </p>
    </div>
  </div>
  <div class="container footer-bottom">© 2025 Lyhour Coffee & Cake</div>
</footer>
</html>
